.medals {
  border: 1px solid black;
  border-radius: 2vw;
}

.container {
  height: 69vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.medals {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2vh;
  margin: 0.7vh 0.5vw 0.7vh 0.5vw;
  padding: 0.5vh 0.5vw 0.2vh 0.5vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 60vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.medals > div {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20vw;
          flex: 1 1 20vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

div.container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

figure {
  width: 20vw;
  padding: 0.2vh 0.2vw 0.2vh 0.4vw;
}
figure > img {
  height: 10vh;
  width: 10vh;
  -webkit-column-break-after: always;
     -moz-column-break-after: always;
          break-after: always;
  margin-bottom: 5vh;
}

figcaption {
  margin-top: 5vh;
  width: 20vw;
}