.container
{
    height: 69vh;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

figure>img
{
    width: 13vw;

}
.inf_block
{
    border: 2px solid black;   
    flex: 1 1 18vw;
    height: fit-content;
    margin: 2vw 0.5vw 0.5vh 0.5vw;
    padding: 0.5vw 0.5vw 0.5vh 0.5vw;
    border-radius: 2vw;
    font-size: 1.4em;
}
#batya
{
    flex-shrink: 1;
    break-after: always;
    width:fit-content;
    height: fit-content;
    border: 2px solid black;   
    margin: 2vw 0.5vw 0.5vh 0.5vw;
    padding: 0.5vw 0.5vw 0.5vh 0.5vw;
    border-radius: 2vw;
    font-size: 1.4em;
}
figure
{
    width:15vw;
}
figcaption
{
    width: 13vw;
}
@media(max-width:1024px)
{
    .container
    {
        height:71vh;
    }
}
@media(max-width:768px)
{
    .container
    {
        height: 73vh;
    }
}