%borders
	border: 1px solid black
	border-radius: 2vw
$font:2vh
.container 
	margin-top: 10vh
	display: flex 
	flex-direction: row 
	flex-wrap: wrap 
figure 
	width: 15vw 
	& > img 
		width: 13vw 
.inf_block 
	flex: 1 1 18vw 
	height: fit-content 
	margin: 5vw 0.5vw 0.5vh 0.5vw 
	padding: 0.5vw 0.5vw 0.5vh 0.5vw 
	@extend %borders
	font-size: $font
#batya 
	flex-shrink: 1 
	break-after: always 
	width: fit-content 
	height: fit-content 
	margin: 5vw 0.5vw 0.5vh 0.5vw 
	padding: 0.5vw 0.5vw 0.5vh 0.5vw 
	@extend %borders
	font-size: $font
figcaption 
	width: 13vw