%borders
	border: 1px solid black
	border-radius: 2vw
$font:2vh
body 
	height: 99.5vh 
	width: 98.5vw 
	background: url("../pics/bg.png") no-repeat 
	background-size: cover 
	& > * 
		margin: 0.3vh 0.4vw 0.4vh 0.2vw 
.cont 
	margin-top: 7vh 
	justify-content: space-around 
	display: flex 
	flex-direction: row 
	flex-wrap: nowrap 
	width: 98vw 
section 
	flex: 1 1 25vw 
	height: fit-content 
	width: 30vw 
	overflow:hidden
	@media (max-device-width:400px)
		overflow: scroll
	@extend %borders
	box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3) 
	background: rgba(255, 255, 255, 0.5) 
	margin: 0.2vh 0.2vw 0.2vh 0.2vw 
	& > h1 
		text-align: center 
		font-size: 1.6vh
	& > p 
		font-size: $font
		padding: 0.1vh 0.2vw 0.1vh 0.2vw 
		white-space: pre-wrap 
