body {
    height: 99.5vh;
    width: 98.5vw;
    background: url("../pics/bg.png") no-repeat;
    background-size: cover;
}

body>* {
    margin: 0.3vh 0.4vw 0.4vh 0.2vw;
}


/*Наполнение*/

.cont {
    margin-top: 7vh;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 98vw;
    height: 60vh;
}

section {
    flex: 1 1 25vw;
    border: 1px solid black;
    height: 35vh;
    width: 30vw;
    border-radius: 1.5vw;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.5);
    margin: 0.2vh 0.2vw 0.2vh 0.2vw;
}

section>h1 {
    text-align: center;
    font-size: 1.6em;
}

section>p {
    font-size: 1.17em;
    padding: 0.1vh 0.2vw 0.1vh 0.2vw;
    white-space: pre-wrap;
}