body {
  font-size: 11px;
}

.name {
  margin: 0 0.1vw 0 0.1vw;
  font-size: 12px;
  position: absolute;
  left: 20vw;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  border: 1px solid white;
  color: white;
  border-radius: 2vw;
  opacity: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-size: 1.67em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5vh 0.8vw 0.5vh 0.8vw;
  padding: 0.8vh 0.6vw 0.8vh 0.6vw;
  -webkit-box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.3);
}

.block,
.name,
.langs,
#blin {
  border-radius: 10vw;
}

.cont,
.container,
.main_obl {
  height: 73vh;
}

.block {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  border-radius: 2vw;
  opacity: 90%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-size: 1.17em;
  padding: 0.2vw 0.2vw 0.2vw 0.2vw;
  -webkit-box-flex: 2;
      -ms-flex: 2 2 3.3vw;
          flex: 2 2 3.3vw;
  margin: 0.5vh 0.5vw 0.5vh 0.5vw;
}

#blind {
  height: 5.1vh;
  line-height: 2.5vh;
}

a {
  text-decoration: none;
}
a > svg {
  height: 2vw;
  width: 2.5vw;
  margin: 1vh 0.5vw 1vh 0.5vw;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:active > div {
  background-color: orange;
}
a:active > div#blind {
  background-color: orange;
}
a:hover > div {
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
}
a > div {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

svg {
  height: 2.2vw;
  width: 2.5vw;
  margin: 1vh 0.5vw 1vh 0.5vw;
}

#ic_1 {
  background: url("../pics/inst_up.png") no-repeat;
  background-size: contain;
  margin-top: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1.1vw;
          flex: 0 1 1.1vw;
  padding-left: 2vw;
  margin-left: 1vw;
  line-height: 1.8vw;
}

#ic_1,
#ic_2,
#ic_3 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#ic_2 {
  margin-top: 0.4vh;
  background: url("../pics/email_up.png") no-repeat;
  background-size: contain;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1.1vw;
          flex: 0 1 1.1vw;
  line-height: 2vw;
  margin-left: 0.9vw;
  padding-left: 2.2vw;
}

#ic_3 {
  background: url("../pics/phone_up.png") no-repeat;
  background-size: contain;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1.1vw;
          flex: 0 1 1.1vw;
  line-height: 2vw;
  padding-left: 2.2vw;
  margin-bottom: 0.5vh;
  margin-left: 0.9vw;
}

.head {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}
.head + li > div {
  margin-left: 1vw;
}

.text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: left;
  vertical-align: middle;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.34em;
}

.hidden-menu {
  display: block;
  position: fixed;
  list-style: none;
  padding: 0.5vw;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 39vw;
  background-color: white;
  height: 100%;
  top: 0;
  left: -200vw;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.hidden-menu-ticker {
  display: none;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 35vw;
  top: -0.05vh;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}

.btn-menu {
  padding: 0.4vh;
  position: absolute;
  top: 0.3vh;
  left: 1vw;
  cursor: pointer;
  -webkit-transition: left 0.23s;
  transition: left 0.23s;
  z-index: 3;
  width: 2vw;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

header {
  margin-bottom: 5vh;
}