.main_obl  
	@extend %borders
	height: 70vh
	display: flex 
	justify-content: center 
	align-content: center 
	margin: 10vh 2vw 0 2vw 
div 
	&.main_obl 
		& > a 
			text-align: center 
			margin: 1vh 0.5vw 1vh 0.5vw 
			font-size: 5vh 
%borders
	border: 1px solid black
	border-radius: 2vw