.main_obl
{
    height: 69vh;
    border: 2px solid black;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2vh 2vw 0 2vw;
}
div.main_obl>a
{
    text-align: center;
    margin: 1vh 0.5vw 1vh 0.5vw;
    font-size: 5vh;
}